{% extends "layout.html" %}
{% block title %}{{owner}}/{{repo}}{% endblock %}
{% block head %}
  {{ super() }}
  <!-- ... -->
{% endblock %}

{% block content %}
<p class="lead">
  This service tracks GitHub issues for a repo over time.
</p>

<h3>Open Issues</h3>
<div id="issues" class="chart"></div>
<h3>Open Pull Requests</h3>
<div id="pulls" class="chart"></div>
<h3>Stargazers</h3>
<div id="stars" class="chart"></div>
<div class="labels-chart-holder">
  <h2>Label Statistics</h2>
  <p id="labels-loading-message">
    Loading per-label counts. Stand by&hellip;
  </p>
  <div id="labels-charts" style="display: none">
    <div id="labels" class="chart"></div>
    <div id="by-label-legend" class="legend"></div>

    <div id="current-labels">
      <h3>Current Per-Label Counts</h3>
      <table>
        <tr><th>Count</th><th>Label</th></tr>
      </table>
    </div>
  </div>
</div>

<form class="manual-update" method="post" action="/{{owner}}/{{repo}}/update">
  <h2>Manual Update</h2>
  <p>The issue charts update automatically every day. But if you really must, you can update them now by pressing this button:</p>
  <input type="submit" value="Update Now" />
</form>
{% endblock %}

{% block postbody %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>

<script>
var owner = {{owner|tojson}},
    repo = {{repo|tojson}};
var issues_by_day = {{open_issues|tojson}},
    pulls_by_day = {{open_pulls|tojson}},
    stars_by_day = {{stargazers|tojson}};
</script>

<script src="/static/dashboard.js"></script>
{% endblock %}
