<!doctype html>
<head>
<title>GitHub Issue Tracker - {{owner}}/{{repo}}</title>
<style>
.chart {
  width: 800px;
  height: 300px;
}
</style>
</head>
<body>

  <h2>Issue History for {{owner}}/{{repo}}</h2>

<p>
This service tracks GitHub issues for a repo over time.
</p>

<div id="issues" class="chart"></div>
<div id="pulls" class="chart"></div>
<div id="stars" class="chart"></div>

<form method="post" action="/update">
  <input type="submit" value="Update" />
</form>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>

<script>
var data = {{series|tojson}};

var issues_by_day = [],
    stars_by_day = [],
    pulls_by_day = [];
data.forEach(function(row) {
  var date = new Date(row[0]);
  stars_by_day.push([date, row[1]])
  issues_by_day.push([date, row[2]])
  pulls_by_day.push([date, row[3]])
});

var g_stars = new Dygraph('stars', stars_by_day, {
      labels: ['Date', 'Stargazers'],
      legend: 'always',
      includeZero: true,
      title: 'Stargazers'
    });

var g_open_issues = new Dygraph('issues', issues_by_day, {
      labels: ['Date', 'Open Issues'],
      legend: 'always',
      includeZero: true,
      title: 'Open Issues'
    });

var g_pulls = new Dygraph('pulls', pulls_by_day, {
      labels: ['Date', 'Open Pull Requests'],
      legend: 'always',
      includeZero: true,
      title: 'Open Pull Requests'
    });

</script>
