<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - GitHub Issue Tracker</title>
    {% endblock %}
  </head>
  <body>

  <!-- navbar-fixed-top -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GitHub Issue Tracker</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if owner and repo %}
          <li class="active"><a href="#">{{owner}}/{{repo}}</a></li>
          {% endif %}
          <!--
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if login %}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{login}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="login-name dropdown-header">Signed in as {{login}}</li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
          </li>
          {% else %}
          <li class="login">
            <a href="/login">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <div class="alert {{category}}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>

  </div>

  <footer class="footer">
    <div class="container">
      {% block footer %}
      <p class="muted">&copy; Copyright 2015 by <a href="http://danvk.org/">danvk</a>.</p>
      {% endblock %}
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
{% block postbody %}{% endblock %}
</html>
